<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>drop_down</title>
    <link rel="stylesheet" href="{{url_for('static',filename='drop.css')}}">
</head>
<body>
    <div class="we-bar">
        <button class="menu-btn" onclick="toggleMenu()">=MENU</button>
        <div class="menu-content" id="menu-content">
            <ul>
                <li><a href="#">home</a></li>
                <li><a href="#">about</a></li>
                <li><a href="#">contact</a></li>
                <li><a href="#">help</a></li>
            </ul>
        </div>
    </div>
    <script src="{{url_for('static',filename='script.js')}}"></script>
</body>
</html>